{% extends 'layout.twig' %}

{% block body %}

  <!--UL Header-->
  <div class="card mb-4 wow fadeIn">
    <div class="card-body d-sm-flex justify-content-between">
      <h4 class="mb-2 mb-sm-0 pt-1">
        <span>UE -> eNB (uplink) Packet Size (bytes): </span>
      </h4>
      <form class="d-flex justify-content-center">
        <input id="ue2enb_val" type="number" value="{{ue2enb}}" class="form-control">
        <button class="btn btn-primary btn-sm my-0 p" type="button" id="ue2enb_start">
          <i class="fas fa-play"></i>
        </button>
        <button class="btn btn-danger btn-sm my-0 p" type="button" id="ue2enb_stop">
          <i class="fas fa-stop"></i>
        </button>
      </form>
    </div>
  </div>
  <!--UL Header-->

  <!--Grid row 1-->
  <div class="row wow fadeIn">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <iframe src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=2" data-src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=2" height="300" frameborder="0" class="grafana-embed"></iframe>
        </div>
      </div>

    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <iframe src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=4" data-src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=4" height="300" frameborder="0" class="grafana-embed"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!--Grid row 1-->

  <!--Grid row 2-->
  <div class="row wow fadeIn">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <iframe src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=10" data-src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=10" height="300" frameborder="0" class="grafana-embed"></iframe>
        </div>
      </div>

    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <iframe src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=12" data-src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=12" height="300" frameborder="0" class="grafana-embed"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!--Grid row 2-->

  <!--DL Header-->
  <div class="card mb-4 wow fadeIn">
    <div class="card-body d-sm-flex justify-content-between">
      <h4 class="mb-2 mb-sm-0 pt-1">
        <span>eNB -> UE (downlink) Packet Size (bytes): </span>
      </h4>
      <form class="d-flex justify-content-center">
        <input id="enb2ue_val" type="number" value="{{enb2ue}}" class="form-control">
        <button class="btn btn-primary btn-sm my-0 p" type="button" id="enb2ue_start">
          <i class="fas fa-play"></i>
        </button>
        <button class="btn btn-danger btn-sm my-0 p" type="button" id="enb2ue_stop">
          <i class="fas fa-stop"></i>
        </button>
      </form>
    </div>
  </div>
  <!--DL Header-->

  <!--Grid row 3-->
  <div class="row wow fadeIn">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <iframe src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=14" data-src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=14" height="300" frameborder="0" class="grafana-embed"></iframe>
        </div>
      </div>

    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <iframe src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=16" data-src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=16" height="300" frameborder="0" class="grafana-embed"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!--Grid row 3-->

  <!--Grid row 4-->
  <div class="row wow fadeIn">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <iframe src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=18" data-src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=18" height="300" frameborder="0" class="grafana-embed"></iframe>
        </div>
      </div>

    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <iframe src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=20" data-src="http://{{grafana_host}}:3000/d-solo/rtzVNwJMk/oai?orgId=1&theme=light&panelId=20" height="300" frameborder="0" class="grafana-embed"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!--Grid row 4-->

{% endblock %}

{% block js %}
<script type="text/javascript">

  $("#ue2enb_start").click(function(e) {
    console.log("ue2enb_start")
    e.preventDefault();
    var value = $("#ue2enb_val").val();
    var data = {
      val: parseInt(value)
    }
    $.ajax({
        type: "POST",
        url: "/ue2enb",
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
    }).done(function(response) {
    }).fail(function(xhr, status, message) {
    });
  });

  $("#ue2enb_stop").click(function(e) {
    console.log("ue2enb_stop")
    e.preventDefault();
    var data = {
      val: 0
    }
    $.ajax({
        type: "POST",
        url: "/ue2enb",
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
    }).done(function(response) {
    }).fail(function(xhr, status, message) {
    });
    $("#ue2enb_val").val("0");
  });

  $("#enb2ue_start").click(function(e) {
    console.log("enb2ue_start")
    e.preventDefault();
    var value = $("#enb2ue_val").val();
    var data = {
      val: parseInt(value)
    }
    $.ajax({
        type: "POST",
        url: "/enb2ue",
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
    }).done(function(response) {
    }).fail(function(xhr, status, message) {
    });
  });

  $("#enb2ue_stop").click(function(e) {
    console.log("enb2ue_stop")
    e.preventDefault();
    var data = {
      val: 0
    }
    $.ajax({
        type: "POST",
        url: "/enb2ue",
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
    }).done(function(response) {
    }).fail(function(xhr, status, message) {
    });
    $("#enb2ue_val").val("0");
  });

  $("#grafana_host_update").click(function(e) {
    console.log("grafana_host_update")
    e.preventDefault();
    var value = $("#grafana_host").val();
    var data = {
      val: value
    }
    $.ajax({
        type: "POST",
        url: "/grafana_host",
        data: JSON.stringify(data),
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
    }).done(function(response) {
    }).fail(function(xhr, status, message) {
    });
    location.reload();
  });

  setInterval(function () {
    $('.grafana-embed').each(function() {
      $(this).attr('src', $(this).data('src'));
    });
  }, 30000);
</script>
{% endblock %}
